@font-face {
  font-family: "iconfont"; /* Project id 3748876 */
  src: url('//at.alicdn.com/t/c/font_3748876_191c4arqhph.woff2?t=1667659458736') format('woff2'),
       url('//at.alicdn.com/t/c/font_3748876_191c4arqhph.woff?t=1667659458736') format('woff'),
       url('//at.alicdn.com/t/c/font_3748876_191c4arqhph.ttf?t=1667659458736') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e741";
}

.icon-bell-l:before {
  content: "\e60d";
}

.icon-diliweizhi:before {
  content: "\e637";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-shouye-shouye:before {
  content: "\e608";
}

.icon-dingdan:before {
  content: "\e645";
}

.icon-gouwuche:before {
  content: "\eb34";
}
